<!DOCTYPE html>
<html>
 <head>
     {% block head %}
     <link rel="stylesheet" href="style.css" />
     <title>{% block title %}{% endblock %} document</title>
     {% endblock %}
     <style>
         .title {
         text-align: center;
         }
         #header {
         margin-left: 55%;
         }
         p {
         font-size: 120%;
         }
         td {
                  font-size: 120%;
                  }
         TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
            font-size: 90%;
        }
     </style>
 </head>
 <body>
    <div id="header">
        {% block header %}
            <p>УТВЕРЖДАЮ<br>
Первый заместитель директора - <br>
главный инженер<br>
С.О. Биндовский<br>
«_____»__________2022г</p>
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            <p>Начальник СРЗАИ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;В.М.Януш<br>
<br>
Согласовано:<br>
                Инженер по охране труда&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;А.С.Масько.</p>
        {% endblock %}
    </div>
</body>
</html>
