{% extends "base.html" %}

{% block content %}
<p class="title">{{ name }}</p>
<table border="1" cellpadding="2px" align="center">
    <tr>
        <th class="title">№п/п</th>
        <th class="title">Тема, вопросы</th>
        <th class="title">Наименование документа, объём</th>
    </tr>
    <tr>
        <td>1.</td>
        <td>Общие сведения о технологическом процессе и оборудовании на данном рабочем месте, производственном участке,
            в цехе. Основные опасные и вредные производственные факторы, возникающие при данном технологическом процессе. </td>
        <td>{{ data['Положение о СРЗАИ'] }}<br>
            Реестр рисков СРЗАИ – раздел мастер (старший мастер).</td>
    </tr>
        <tr>
        <td>2.</td>
        <td>Безопасная организация и содержание рабочего места.</td>
        <td>{{ data['Правила по охране труда'] }}<br>
            {{ data['ПТЭ'] }}<br>
            {{ data['ТКП-339'] }}<br>
            {{ data['Типовая инструкция по РЗА'] }}<br>
            {{ data['РЗА 0,4-35'] }}<br>
            {{ data['РЗА 110-750'] }}<br>
            {{ data['Директива №1'] }}<br>
            {{ data['Директива №2'] }}<br>
            {{ data['Директива №3'] }}<br>
            {{ data['Декрет №5'] }}<br>
        </td>
    </tr>
    </tr>
        <tr>
        <td>3.</td>
        <td>Опасные зоны машины, механизма, прибора. Средства безопасности оборудования. Требования по предупреждению электротравматизма.</td>
        <td>{{ data['ПБМИП'] }}<br>
            {{ data['Высота'] }}<br>
            {{ data['МПРП'] }}<br>
            {{ data['ГОСТ Электробезопасность'] }}<br>
            {{ data['СТП по РЗА'] }}<br>
            {{ data['ПТЭ'] }}<br>
            Схемы электроустановок ВЭС, обслуживаемых СРЗАИ<br>
        </td>
    </tr>
        </tr>
        <tr>
        <td>4.</td>
        <td>Порядок подготовки к работе (проверка исправности оборудования, пусковых приборов, инструмента и приспособлений, блокировок, заземления и других средств защиты). </td>
        <td>{{ data['ТКП-290'] }}<br>
            {{ data['ТКП-427'] }}<br>
        </td>
    </tr>
    </tr>
    </tr>
    <tr>
        <td>5.</td>
        <td>Безопасные приемы и методы работы; действия при возникновении опасной ситуации.</td>
        <td>Инструкции по охране труда согласно перечня инструкций по охране труда для электромонтёра по ремонту
            аппаратуры РЗАИ с правом работы в рабочей платформе мобильной подъёмной рабочей платформы.<br>
            Инструкции по охране труда согласно перечня инструкций по охране труда для водителя СРЗАИ с совмещением
            профессии электромонтёра по ремонту аппаратуры РЗА, слесаря по ремонту автомобилей.<br>
            {{ data['СТП 101'] }}<br>
            {{ data['СТП 102'] }}<br>
        </td>
    </tr>
    </tr>
        </tr>
        <tr>
        <td>6.</td>
        <td>Средства индивидуальной защиты на данном рабочем месте и правила пользования ими.</td>
        <td>{{ data['Положение о СИЗ'] }}</td>
    </tr>
    </tr>
        </tr>
        <tr>
        <td>7.</td>
        <td>Схема безопасного передвижения работающих на территории цеха, участка. Меры безопасности при передвижении по
            территории организации. Опасности и риски, существующие при передвижении по территории, зданиям и сооружениям.</td>
        <td>{{ data['Поведение на территории'] }}</td>
    </tr>
    </tr>
        </tr>
        <tr>
        <td>8.</td>
        <td>Внутрицеховые транспортные и грузоподъёмные средства и механизмы. Требования безопасности при погрузочно-разгрузочных работах и транспортировке грузов.</td>
        <td>{{ data['грузовые тележки'] }}<br>
            {{ data['погрузка-разгрузка'] }}<br>
            {{ data['электротранспорт'] }}<br>
        </td>
    </tr>
    <tr>
        <td>9.</td>
        <td>Характерные причины аварий, взрывов, пожаров, случаев производственных травм.</td>
        <td>Акты расследования аварий и отказов.<br>
            Информационные сообщения о несчастных случаях и авариях.
        </td>
    </tr>
    </tr>
        </tr>
        <tr>
        <td>10.</td>
        <td>Способы оказания первой помощи пострадавшим.</td>
        <td>{{ data['Медицина электрооборудования'] }}</td>
    </tr>
    </tr>
        </tr>
        <tr>
        <td>11.</td>
        <td>Пожарная безопасность. Пожароопасность технологического процесса. Меры предупреждения аварий, взрывов, пожаров.
            Обязанность и действия при аварии, взрыве, пожаре. Способы применения имеющихся средств пожаротушения,
            противоаварийной защиты и сигнализации места их расположения. Ознакомление по плану эвакуации с местами
            расположения первичных средств пожаротушения, гидрантов, запасов воды и песка, эвакуационных путей и выходов
            (с обходом соответствующих помещений и территорий). Условия возникновения горения и пожара (на рабочем месте,
            на объекте). Пожароопасные свойства применяемого сырья, материалов и изготавливаемой продукции. Ответственности
            за соблюдение требований пожарной безопасности. Виды огнетушителей и их применение в зависимости от класса
            пожара (вида горючего вещества, особенностей оборудования). Требования при тушении электроустановок и
            производственного оборудования. Поведение и действия инструктируемого при загорании и в условиях пожара,
            а также при сильном задымлении на путях эвакуации. Способы сообщения о пожаре. Меры личной безопасности при
            возникновении пожара. Пожарная опасность обращающихся веществ и материалов. Возможные источники зажигания, меры предупреждения
            пожара и взрыва. Характеристики пожарной опасности производственных участков, помещений, территорий, где
            осуществляется работа инструктируемого. Имеющиеся средства противопожарной защиты и пожаротушения, связи,
            техника безопасности при тушении пожара. Противопожарный режим в подразделении (содержание территории,
            проходов, проездов, подходов к средствам противопожарной защиты и пожаротушения, режим курения и другие
            требования пожарной безопасности).</td>
        <td>{{ data['Общеобъектовая ПБ'] }}<br>
            {{ data['Постановление 82 МЧС'] }}<br>
            {{ data['Декрет №7'] }}</td>
    </tr>
</table>
{% endblock %}