<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="style.css" />
     <title>document</title>
     <style>
         .title {
         text-align: center;
         font-size: 100%;
         }
         .text {
         text-align: left;
         font-size: 100%;
         }
         #header {
         margin-left: 55%;
         }
         #content {
         font-size: 120%;
         }
         p {
         font-size: 120%;
         }
         td {
                  font-size: 100%;
                  }
         TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
            font-size: 90%;
        }
     </style>
 </head>
 <body >
 {% for doc in data %}
    <div class="title">
        Комиссия для проверки знаний по вопросам охраны труда, технической эксплуатации, пожарной безопасности, приемов
        освобождения потерпевшего от действия электрического тока и оказания первой помощи потерпевшим при несчастных случаях<br>
        филиал «Витебские электрические сети» РУП «Витебскэнерго»<br>
        ПРОТОКОЛ<br>
    </div>
    <div class="text">
        проверки знаний по вопросам охраны труда, технической  эксплуатации, пожарной  безопасности, приемов освобождения
        потерпевшего от действия электрического тока и оказания первой помощи потерпевшим при несчастных случаях
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;№_____________<br>
        «____» ______________ 2023__ г.<br>
        Комиссия в составе:<br>
        Председатель комиссии: Заместитель главного инженера по работе с персоналом Ивановский А.В<br>
        Члены комиссии:&ensp;начальник СОТЭиОТ Рыбачонок Е.А.<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ведущий инженер по ОТ СОТЭиОТ Квачонок Н.А<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ведущий инженер по ТЭ СОТЭиОТ Ковешников А.А.<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;инженер по ПБ СОТЭиОТ Яроцкий А.Л.<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;инженер по ОТ СОТЭи ОТ Масько А.С.<br>
        Комиссия провела проверку знаний по вопросам охраны труда, технической эксплуатации, пожарной  безопасности, приемов
        освобождения потерпевшего от действия электрического тока и оказания первой помощи потерпевшим при несчастных случаях
        в объеме нормативных правовых актов, технических нормативных правовых актов, локальных нормативных правовых актов,
        предусмотренных рабочими обязанностями:
        <table border="1" cellpadding="2px" align="center">
    <tr>
        <td>№п/п</td>
        <td>Фамилия, собственное имя, отчество (если таковое имеется) лица, проходящего проверку знаний</td>
        <td>Профессия рабочего, должность служащего или отдельный вид работ (услуг) лица, проходящего проверку,
            наименование организации (индивидуальный предприниматель, вид деятельности)</td>
        <td>Вид проверки знаний</td>
        <td>Номер билета</td>
        <td>Результаты проверки знаний (прошел, не прошел)</td>
        <td>Роспись лица, проходившего проверку знаний по вопросам охраны труда, технической эксплуатации, пожарной
            безопасности, приемов освобождения потерпевшего от действия электрического тока и оказания первой помощи
            потерпевшим при несчастных случаях</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>{{ doc[0] }}</td>
        <td>{{ doc[1] }}</td>
        <td>периодическая</td>
        <td>{{ doc[7] }}</td>
        <td>ОТ – прошел, ПТЭ – прошел, ПБ – прошел, по
            {% if doc[1] == 'Электромонтёр по ремонту аппаратуры релейной защиты и автоматики' %}
            рабочей
            {% elif doc[1] == 'Водитель автомобиля' %}
            рабочей
            {% else %}
            должностной
            {% endif %}
            инструкции – прошел, приемов освобождения потерпевшего от
            действия электрического тока и оказания первой помощи потерпевшим при несчастных случаях – прошел,
            {{ doc[2] }} группа по электробезопасности с правами: {{ doc[4] }}, {{ doc[6] }}.</td>
        <td></td>
    </tr>
    </table>
    </div>
    <div>
        Председатель комиссии&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________ А.В. Ивановский<br>
        Члены комиссии:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;____________________ Е.А. Рыбачонок<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________ Н.А. Квачонок<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________А.А. Ковешников<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________А.Л. Яроцкий<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________А.С.Масько
    </div>
 <br style="page-break-after: always">
 {% endfor %}
</body>
</html>
